<!doctype html>
<html lang="{{ current_lang }}">
<head>
    <title>{% block title %}Default{% endblock %} | {{ config.app_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ config.app_name }} - Proudly powered by XBackBone.">
    <link rel="shortcut icon" href="{{ urlFor('/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ urlFor('/favicon.ico') }}" type="image/x-icon">
    <link rel="preload" href="{{ asset('/static/bootstrap/css/bootstrap.min.css') }}" as="style">
    <link rel="preload" href="{{ asset('/static/fontawesome/css/all.min.css') }}" as="style">
    <link rel="preload" href="{{ asset('/static/app/app.css') }}" as="style">
    <link rel="preload" href="{{ asset('/static/jquery/jquery.min.js') }}" as="script">
    <link rel="preload" href="{{ asset('/static/bootstrap/js/bootstrap.bundle.min.js') }}" as="script">
    <link rel="preload" href="{{ asset('/static/app/app.js') }}" as="script">
    <link href="{{ asset('/static/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/static/fontawesome/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/static/highlightjs/styles/monokai.css') }}" rel="stylesheet">
    <link href="{{ asset('/static/plyr/plyr.css') }}" rel="stylesheet">
    <link href="{{ asset('/static/dropzone/dropzone.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/static/app/app.css') }}" rel="stylesheet">
    <script>window.AppConfig = {'base_url': '{{ config.base_url }}', 'lang': {'publish': '{{ lang('publish') }}', 'hide': '{{ lang('hide') }}'}}</script>
    {% block head %}{% endblock %}
</head>
<body class="bg-light">
{% block content %}{% endblock %}
{% block footer %}
    <div class="container-fluid footer" style="display: none; font-size: 0.8rem">
        <div class="text-muted">Proudly powered by <a href="https://github.com/SergiX44/XBackBone">XBackBone{% if session.admin %} v{{ PLATFORM_VERSION }}{% endif %}</a>
                                — <i class="fas fa-fw fa-balance-scale"></i> AGPL v3.0
        </div>
    </div>
{% endblock %}
<script src="{{ asset('/static/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('/static/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('/static/highlightjs/highlight.pack.min.js') }}"></script>
<script src="{{ asset('/static/clipboardjs/clipboard.min.js') }}"></script>
<script src="{{ asset('/static/plyr/plyr.min.js') }}"></script>
<script src="{{ asset('/static/dropzone/dropzone.min.js') }}"></script>
<script src="{{ asset('/static/app/app.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>