{% extends 'base.twig' %}

{% block title %}{{ lang('system') }}{% endblock %}

{% block content %}
    {% include 'comp/navbar.twig' %}
    <div class="container">
        {% include 'comp/alert.twig' %}
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card bg-success text-white h-100 shadow-sm">
                    <div class="card-body bg-success">
                        <div class="rotate">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <h6 class="text-uppercase">{{ lang('users') }}</h6>
                        <h1 class="display-4">{{ usersCount }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card bg-danger text-white h-100 shadow-sm">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fas fa-weight fa-3x"></i>
                        </div>
                        <h6 class="text-uppercase">{{ lang('size') }}</h6>
                        <h1 class="display-4">{{ totalSize }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card bg-warning text-white h-100 shadow-sm">
                    <div class="card-body bg-warning">
                        <div class="rotate">
                            <i class="fas fa-upload fa-3x"></i>
                        </div>
                        <h6 class="text-uppercase">{{ lang('files') }}</h6>
                        <h1 class="display-4">{{ mediasCount }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card bg-dark text-white h-100 shadow-sm">
                    <div class="card-body bg-dark">
                        <div class="rotate">
                            <i class="fas fa-unlink fa-3x"></i>
                        </div>
                        <h6 class="text-uppercase">{{ lang('orphaned_files') }}</h6>
                        <h1 class="display-4">{{ orphanFilesCount }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header"><i class="fas fa-paint-brush fa-fw"></i> {{ lang('theme') }}</div>
                    <div class="card-body">
                        <form method="post" action="{{ route('theme.apply') }}">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <select class="form-control" id="themes" name="css">
                                        <option id="theme-load" selected disabled hidden>{{ lang('click_to_load') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-outline-success" id="themes-apply" disabled>
                                        <i class="fas fa-save fa-fw"></i> {{ lang('apply') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header"><i class="fas fa-cog fa-fw"></i> {{ lang('system_info') }}</div>
                    <div class="card-body">
                        <strong>Max upload size:</strong>
                        <ul>
                            <li><code>post_max_size</code>: {{ post_max_size }}</li>
                            <li><code>upload_max_filesize</code>: {{ upload_max_filesize }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'comp/footer.twig' %}
{% endblock %}