{% extends 'base.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    {% include 'comp/navbar.twig' %}

    <div class="container">
        {% include 'comp/alert.twig' %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit User</div>
                    <div class="card-body">
                        <form method="post" action="{{ config.base_url }}/user/{{ user.id }}">
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="email@example.com" name="email" value="{{ user.email }}" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{ user.username }}" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="token" class="col-sm-2 col-form-label">Token</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" id="token" class="form-control" value="{{ user.token }}" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success btn-clipboard" type="button" data-clipboard-target="#token"><i class="fas fa-fw fa-copy"></i> Copy</button>
                                            <button class="btn btn-outline-primary refresh-token" data-id="{{ user.id }}" type="button"><i class="fas fa-fw fa-sync"></i> Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="is_admin" name="is_admin" {{ user.is_admin ? 'checked' }}>
                                        <label class="form-check-label" for="is_admin">
                                            Is admin
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="is_active" name="is_active" {{ user.active ? 'checked' }}>
                                        <label class="form-check-label" for="is_active">
                                            Is active
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-md-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fas fa-save fa-fw"></i> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'comp/footer.twig' %}
{% endblock %}