{% extends 'base.twig' %}

{% block title %}{{ profile ? lang('your_profile') : lang('user.edit') }}{% endblock %}

{% block content %}
    {% include 'comp/navbar.twig' %}
    <div class="container">
        {% include 'comp/alert.twig' %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    {% if not profile %}
                        <div class="card-header">{{ lang('user.edit') }}</div>
                    {% endif %}
                    <div class="card-body">
                        <form method="post" action="{{ route( (profile ? 'profile.update' : 'user.update'), {'id': user.id}) }}">
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="email@example.com" name="email" value="{{ user.email }}" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-sm-2 col-form-label">{{ lang('username') }}</label>
                                <div class="col-sm-10">
                                    {% if profile %}
                                        <input type="text" class="form-control disabled" id="username" value="{{ user.username }}" readonly>
                                    {% else %}
                                        <input type="text" class="form-control" id="username" placeholder="{{ lang('username') }}" name="username" value="{{ user.username }}" autocomplete="off" required>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label">{{ lang('password') }}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" placeholder="{{ lang('password') }}" name="password" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="token" class="col-sm-2 col-form-label">{{ lang('token') }}</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" id="token" class="form-control" value="{{ user.token }}" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success btn-clipboard" type="button" data-clipboard-target="#token"><i class="fas fa-fw fa-copy"></i> {{ lang('copy') }}</button>
                                            <button class="btn btn-outline-primary refresh-token" data-id="{{ user.id }}" type="button"><i class="fas fa-fw fa-sync"></i> {{ lang('update') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{ lang('client_config') }}</label>
                                <div class="col-sm-10">
                                    <div class="btn-group">
                                        <a href="{{ route('config.sharex', {'id': user.id}) }}" class="btn btn-lg btn-outline-dark"><i class="fas fa-fw fa-download"></i> ShareX Config</a>
                                        <a href="{{ route('config.script', {'id': user.id}) }}" class="btn btn-lg btn-outline-danger"><i class="fas fa-fw fa-download"></i> Linux Script</a>
                                    </div>
                                </div>
                            </div>
                            {% if not profile %}
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="is_admin" name="is_admin" {{ user.is_admin ? 'checked' }}>
                                            <label class="form-check-label" for="is_admin">
                                                {{ lang('is_admin') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="is_active" name="is_active" {{ user.active ? 'checked' }}>
                                            <label class="form-check-label" for="is_active">
                                                {{ lang('is_active') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row justify-content-md-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fas fa-save fa-fw"></i> {{ lang('save') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}