{% extends 'base.twig' %}

{% block title %}{{ lang('users') }}{% endblock %}

{% block content %}
    {% include 'comp/navbar.twig' %}
    <div class="container">
        {% include 'comp/alert.twig' %}
        <div class="card box-shadow">
            <div class="card-body">
                <div class="text-right">
                    <a href="{{ route('user.create') }}" class="btn btn-outline-success mb-3"><i class="fas fa-plus"></i> {{ lang('user.create') }}</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>{{ lang('username') }}</th>
                            <th>{{ lang('user_code') }}</th>
                            <th>{{ lang('token') }}</th>
                            <th>{{ lang('active') }}</th>
                            <th>{{ lang('admin') }}</th>
                            <th>{{ lang('reg_date') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>#{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    <pre>{{ user.user_code|default(lang('none')) }}</pre>
                                </td>
                                <td>
                                    <pre>{{ user.token|default(lang('none')) }}</pre>
                                </td>
                                <td>
                                    {% if user.active %}
                                        <span class="badge badge-success"><i class="fas fa-check"></i></span>
                                    {% else %}
                                        <span class="badge badge-danger"><i class="fas fa-times"></i></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_admin %}
                                        <span class="badge badge-success"><i class="fas fa-check"></i></span>
                                    {% else %}
                                        <span class="badge badge-danger"><i class="fas fa-times"></i></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ user.registration_date|date("d/m/Y H:i:s") }}
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="{{ route('user.edit', {'id': user.id}) }}" class="btn btn-outline-warning" data-toggle="tooltip" title="{{ lang('edit') }}"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="#" class="btn btn-outline-danger user-delete" data-link="{{ route('user.delete', {'id': user.id}) }}" data-toggle="tooltip" title="{{ lang('delete') }}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'comp/pager.twig' with {'path': 'users'} %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ lang('confirm') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ lang('confirm_string') }}</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" id="modalDelete-link"><i class="fas fa-trash fa-fw"></i> {{ lang('delete') }}</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('no') }}</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'comp/footer.twig' %}
{% endblock %}